<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:name="example.com.mobidoc.CommunicationLayer.PushNotification"
    package="example.com.mobidoc"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.VIBRATE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="example.com.mobidoc.CommunicationLayer.pushNotificationServices.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="example.com.mobidoc.CommunicationLayer.pushNotificationServices.permission.C2D_MESSAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Screens.LoginScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterScreen"
            android:label="@string/app_name"></activity>

        <activity
            android:name=".Screens.MeasuresScreen"
            android:label="@string/app_name"></activity>

        <activity
            android:name="example.com.mobidoc.Screens.webComScreen"
            android:label="@string/app_name"></activity>
        <activity
            android:name="example.com.mobidoc.CommunicationLayer.PushNotification$notificationActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Screens.popUpScreens.PopScreen"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".Screens.popUpScreens.QuestionPopScreen"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".Screens.popUpScreens.MeasurePop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="example.com.mobidoc.SimulationScreen"
            android:label="@string/app_name" />

        <activity
            android:name=".Screens.MainScreen"
            android:label="@string/app_name" />

        <receiver
            android:name="example.com.mobidoc.CommunicationLayer.pushNotificationServices.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="example.com.mobidoc.CommunicationLayer.pushNotificationServices" />
            </intent-filter>
        </receiver>

        <service android:name=".MsgRecieverService" />
        <service android:name="example.com.mobidoc.CommunicationLayer.pushNotificationServices.GcmIntentService" />

        <service android:name="projections.monitoringObjects.MonitoringDBservice" />

    </application>

</manifest>
